body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: white;
  margin: 0;
  padding: 40px; 
}  

body.dark-mode{
 font-family: Arial, sans-serif;
 background-color: #121212;
 color:black;
 margin: 0;
 padding: 40px;
}

#last_login {
  width: 200px;
  height: 40px;
  color: #121212;
  font-size: 12px;
  position: absolute;
  left: 20px;
  top: 120px;
}

#welcome-btn {
  height: 80px;
  width: 250px;
  font-size: 12px;
  margin-bottom: 20px;
  color: rgb(78, 82, 79);
  font-family:Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  left: 20px;
  top: 20px;
}

.container {
    background-image: url("/static/Images/bg.jpg");
    background-size: 800px 400px;
    background-repeat: no-repeat;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

.subtitle {
    text-align: center;
    color: rgb(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

select,
button {
    padding: 12px;
    font-size: 16px;
}

#favourites-btn {
  width: 110px;
  height: 40px;
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 80px;
}

#theme-toggle {
  width: 110px;
  height: 40px;
  font-size: 12px;
  position: absolute;
  right: 150px;
  top: 20px;
}

#logout-btn {
  width: 110px;
  height: 40px;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 20px;
}

button {
    background: #bcb5b0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #218838;
}

.results {
    margin-top: 30px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.price {
    font-weight: bold;
    color: green;
}

.empty {
    text-align: center;
    color: red;
}