body {
  font-size: 17px;
  background-image: url("Images/wood.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: white;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

label {
  font-size: 16px;
}

input {
  font-size: 16px;
}

#logout-btn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  position: absolute;
  right: 20px;
  top: 20px;
}

#home-btn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  position: absolute;
  right: 140px;
  top: 20px;
}

.food-image {
  height: 250px;
  width: 400px;
  border-radius: 10px;
}