<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CraveSmart - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script defer src="{{ url_for('static', filename='script.js') }}"></script> 
</head>

<body>
 <div class="container">
  <div class="login-box">
    <h1>CraveSmart</h1>
    <h2>Login</h2>

    <form action="/login" method="POST">   

      <div class="input-group">
        <label>Username</label>
        <input type="text" name="username" id="username" placeholder="Enter username">
      </div>

      <div class="input-group">
        <label>Password</label>

        <div class="password-wrapper">
          <input type="password" name="enter_password" id="registerPassword" placeholder="Enter password" maxlength="8" required>
                
          <span id="toggleRegisterPassword" class="toggle-text">👁️</span>
        </div>

      <button type="submit">Login</button>

      <p class="register-link">
        Don't have an account? <a href="/register">Sign up</a>
      </p>

    </form>
  </div>
 </div>
</body>
</html>